Exe/SignAppliAll.bat
Exe/Priscilla64.ipdb
Exe/Priscilla64.iobj
Exe/Priscilla32.ipdb
Exe/Priscilla32.iobj
Exe/Priscilla.pdb
Exe/Priscilla.ilk
Exe/Priscilla.exe
Src/Priscilla.aps
Exe/Priscilla64.ini
Exe/Priscilla32.ini
Exe/Priscilla.ini
Exe/CodeSignPriscilla.uws
Exe/SignCurtum.bat
